# Node.js dependencies
node_modules
pnpm-lock.yaml

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build and output directories
dist
dist-ssr
build
coverage
.nyc_output

# OS-specific files
.DS_Store

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temporary files
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json